<div class="row" *ngIf="note">
    <div class="col-10">

        <div class="row">
            <div class="col-4">
                <label for="title">Заголовок</label>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-7">
                <input [(ngModel)]="note.title" class="form-control" style="width: 100%" id="title" type="text">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-4">
                <label for="text">Содержимое</label>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div id="text" [froalaEditor]="options" [(froalaModel)]="note.content"></div> <!--  [(froalaModel)]=""-->
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <label for="category">Категория</label>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <select [(ngModel)]="selectedCatObj" class="form-control" id="category">
                    <option *ngFor="let cat of categories" [ngValue]="cat">
                        {{cat.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3 mt-4 mb-5">
                <button type="button" (click)="update();" class="btn btn-primary">Обновить</button>
                <button type="button" (click)="goBack();" class="btn btn-primary">Назад</button>
            </div>
        </div>
    </div>
</div>
